In [1]:
# importando os dados
from sklearn.datasets import load_iris

#funcao pra teste e treino
from sklearn.model_selection import train_test_split

# importando o SVC, que é uma das implementações do SVM
from sklearn.svm import SVC

In [2]:
#definindo DataFrame
df = load_iris(as_frame = True)['data']
df['type'] = load_iris(as_frame = True)['target']

df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),type
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [3]:
#descricao por tipo comprimento
df.groupby('type').describe()['sepal length (cm)']

      count   mean       std  min    25%  50%  75%  max
type
0      50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
1      50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
2      50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [4]:
#descricao por tipo largura
df.groupby('type').describe()['petal width (cm)']

      count   mean       std  min  25%  50%  75%  max
type
0      50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
1      50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
2      50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

In [5]:
# característica da pétala 
X = load_iris(as_frame = True)['data']

# tipo de íris
y = load_iris(as_frame = True)['target']

In [6]:
# teste definido como 50%
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

In [7]:
# algoritmo sem dados nenhum, utilizando one vs one

clf = SVC(decision_function_shape='ovo')

In [8]:
clf_treinado = clf.fit(X_train, y_train)

In [9]:
y_pred = clf_treinado.predict(X_test)

y_pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 2, 1, 0, 2, 2, 1, 0, 2, 1, 1, 2, 0, 2, 0,
       0, 1, 2, 2, 1, 2, 1, 2, 1, 1, 2, 2, 1, 2, 1, 2, 1, 0, 2, 1, 1, 1,
       1, 2, 0, 0, 2, 1, 0, 0, 1])

In [10]:
#Qual a taxa de erro?
print("Número de íris que previmos errado de um total de {0} observações de teste: {1}"\
      .format(X_test.shape[0], (y_test != y_pred).sum()))

Número de íris que previmos errado de um total de 75 observações de teste: 4

In [11]:
#taxa de 95% com 50% de treino e teste, se aumentar a taxa de treino e diminuir a de teste é provavel que a acuracia melhore
71/75

0.9466666666666667